@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
html {
    color: white;
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Orbitron', sans-serif;
    min-height: 100%;
}

ul {
    list-style-type: none;
    ;
}

a {
    text-decoration: none
}

a:hover {
    color: grey;
}

#logo {
    vertical-align: middle;
    margin-left: 30px;
    width: 150px;
}

p {
    overflow-wrap: break-word;
}

header {
    background-color: rgba(255, 255, 255, 0.2);
}

.header_flex {
    display: flex;
    height: 60px;
    align-items: center;
    margin-bottom: 30px;
}

.header_flex nav {
    margin-left: auto;
}

.header_flex ul {
    display: flex;
}

.header_flex ul li {
    margin-left: 20px;
    margin-right: 20px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center_yoko {
    text-align: center;
}

.big {
    font-size: 60px;
}

.main_background {
    background-color: grey;
    margin: auto;
    width: 90%;
    min-height: 80vh;
    border-radius: 50px;
}

.games {
    padding-top: 10px;
}

.game_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    text-align: center;
}

.img_game {
    width: 70%;
    margin-bottom: 10px;
}

.about_me {
    padding-top: 10px;
    min-height: 35vh;
}

.language {
    padding-top: 10px;
}

.fig_title {
    font-size: 40px;
    margin-bottom: 20px;
}

.fig_detail {
    font-size: 20px;
    margin-bottom: 20px;
}

.screen_half {
    float: left;
    width: calc(100%/2);
}

.screen_half p {
    font-size: 25px;
    margin-bottom: 20px;
}

.display_grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    text-align: center;
}

.img_prof {
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}

.space_bottom {
    margin-bottom: 10px;
}

.links {
    padding-top: 30px;
    min-height: 35vh;
}

.links figure {
    padding-bottom: 20px;
}

.center_table {
    margin: auto;
}

.center_table td {
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}