html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", YuGothic, sans-serif;
    line-height: 1.7;
    color: #0a123a;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#home {
    background-image: url(docs/img/background-profile.JPG);
    min-height: 100vh;
}

#home .page-title {
    text-transform: none;
}

.logo {
    width: 150px;
    margin-top: 14px;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: #0a123a;
    color: white;
}

.main-nav a:hover {
    color: #0bd;
}

.home-contnt {
    text-align: center;
    margin-top: 10%;
}

.home-contnt p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

.page-title {
    font-size: 5rem;
    font-family: "Philosopher", serif;
    text-transform: uppercase;
    font-weight: normal;
}

.button {
    font-size: 1.375rem;
    background: #0bd;
    color: white;
    border-radius: 5px;
    padding: 18px 32px;
}

.button:hover {
    background: #0090aa;
}


/* PRIFILE
-------------*/

#profile {
    background-image: url(docs/img/background-profile.JPG);
    min-height: 100vh;
}

.profile-content {
    max-width: 560px;
    margin-top: 10%;
    color: white;
}

.profile-content {
    text-align: center
}

.profile-content p {
    font: size 1.125em;
    margin: 10px 0 0;
}